@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personalización opcional del sistema */
body {
  @apply bg-gray-100 text-gray-800;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', Courier, monospace;
  color: #1a202c; /* gris oscuro */
}
